---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import WhyUsCard from "../components/WhyUsCard.astro";
import Ellipse from "../components/Ellipse.astro";
---

<BaseLayout>
    <!-- Image Section -->
    <div class="relative w-full">
        <!-- Overlay -->
        <div class="absolute inset-0 bg-[#00000073]"></div>
        <!-- Image -->
        <img src="/img/aboutUsPhoto.jpeg" alt="" class="w-full h-[545px]" />

        <div
            class="container absolute flex justify-center items-center flex-col text-white top-[369px] ms-12"
        >
            <h2 class="text-[56px] font-bold">About Us</h2>
            <h3 class="text-[24px]">Get To Know Our Team And Values</h3>
        </div>
    </div>

    <Ellipse top="140%" left="20%" width="450px" height="360px" opacity="0.2" />

    <!--Body Section-->
    <div class="container flex flex-col mt-20 ps-10">
        <div class="flex flex-col ps-52">
            <h2
                class="font-bold text-[34px] tracking-tighter mb-4 border-l-[7px] ps-5 rounded-sm border-[#6699FF]"
            >
                Welcome To Pulse for Medical Equipment (PME)
            </h2>
            <p class="text-[19px] font-normal tracking-tighter md:w-[80%]">
                At Pulse for Medical Equipment (PME), we take pride in being an
                Iraqi based company that has been successfully engaging in
                supplying state-of-the-art medical and lab equipment since 1998.
                Our unwavering commitment lies in providing a world-class,
                customer-oriented, and reliable service across all sectors. With
                an extensive range of medical supplies and cutting-edge
                equipment, we are dedicated to meeting every medical need with
                unmatched efficiency.
            </p>
        </div>

        <div class="flex flex-col ps-52 mt-24">
            <h2
                class="font-bold text-[34px] tracking-tighter mb-4 border-l-[7px] ps-5 rounded-sm border-[#6699FF]"
            >
                our mission
            </h2>
            <p class="text-[19px] font-normal tracking-tighter md:w-[80%]">
                Our mission is to revolutionize the medical sector in Iraq by
                delivering highly skilled and advanced solutions. We strive to
                elevate healthcare standards, one breakthrough at a time. Backed
                by our access to thousands of products from top-rated vendors,
                we consistently provide our customers with high-quality and
                competitive solutions, tailored to their unique requirements.
            </p>
        </div>

        <div class="flex flex-col ps-52 mt-24">
            <h2
                class="font-bold text-[34px] tracking-tighter mb-4 border-l-[7px] ps-5 rounded-sm border-[#6699FF] "
            >
                Why Us?
            </h2>
        </div>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10 mx-6"
        >
          <WhyUsCard/> 
          <WhyUsCard/> 
          <WhyUsCard/> 
          <WhyUsCard/> 
          <WhyUsCard/> 
          <WhyUsCard/> 
    </div>

    <Ellipse top="253%" left="83%" width="450px" height="480px" opacity="0.2" />
</BaseLayout>
