---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import WhyUsCard from "../components/WhyUsCard.astro";
import Ellipse from "../components/Ellipse.astro";
---

<BaseLayout>
    <!-- Image Section -->
    <div class="relative overflow-hidden shrink-0">
        <!-- Overlay -->
        <div class="absolute inset-0 bg-[#00000073]"></div>
        <!-- Image -->
        <img src="/img/aboutUsPhoto.jpeg" alt="" class="w-full max-lg:h-auto h-[580px] shrink-0" />

        <div
            class="container absolute flex justify-center items-center flex-col text-white lg:top-[369px] top-[50%]"
        >
            <h2 class="lg:text-[56px] text-[33px] font-bold">About Us</h2>
            <h3 class="lg:text-[24px] text-[18px]">Get To Know Our Team And Values</h3>
        </div>
    </div>

    <!-- Body Section -->
    <div class="p-8 mt-10">
        <div class="container mx-auto max-w-6xl">
            <!-- Welcome Section -->
            <section class="text-center mb-24 relative">
                <Ellipse
                    top="40%"
                    left="10%"
                    width="450px"
                    height="360px"
                    opacity="0.13"
                />
                <h1
                    class="lg:text-4xl text-[24px] font-bold mb-4 lg:text-left border-l-4 pl-4 border-[#6699FF]"
                >
                    Welcome To Pulse For Medical Equipment (PME)
                </h1>
                <p class="text-lg lg:text-left">
                    At Pulse for Medical Equipment (PME), we take pride in being
                    an Iraqi Based Company that has been successfully engaging
                    in supplying state-of-the-art medical and lab equipment
                    since 1998. Our unwavering commitment lies in providing a
                    world-class, customer-oriented, and reliable service across
                    all sectors. With an extensive range of medical supplies and
                    cutting-edge equipment, we are dedicated to meeting every
                    medical need with unmatched efficiency.
                </p>
            </section>

            <!-- Mission Section -->
            <section class="text-center mb-24">
                <h2
                    class="lg:text-3xl text-[30px] font-bold mb-4 lg:text-left border-l-4 pl-4 border-[#6699FF]"
                >
                    Our Mission
                </h2>
                <p class="text-lg lg:text-left">
                    Our mission is to revolutionize the medical sector in Iraq
                    by delivering highly skilled and advanced solutions. We
                    strive to elevate healthcare standards, one breakthrough at
                    a time. Backed by our access to thousands of products from
                    top-rated vendors, we consistently provide our customers
                    with high-quality and competitive solutions, tailored to
                    their unique requirements.
                </p>
            </section>

            <!-- Why Us Section -->
            <section class="text-center">
                <h2
                    class="lg:text-3xl text-[30px] font-bold mb-8 lg:text-left border-l-4 pl-4 border-[#6699FF]"
                >
                    Why Us?
                </h2>
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
                >
                    <!-- cards -->
                     <WhyUsCard/>
                     <WhyUsCard/>
                     <WhyUsCard/>
                     <WhyUsCard/>
                     <WhyUsCard/>
                     <WhyUsCard/>
                </div>
            </section>
        </div>
    </div>
</BaseLayout>
