---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <!-- Image Section -->
    <div class="relative w-full">
        <!-- Overlay -->
        <div class="absolute inset-0 bg-[#00000073]"></div>
        <!-- Image -->
        <img
            src="/img/aboutUsPhoto.jpeg"
            alt=""
            class="w-full h-[545px]"
        />

        <div class="container absolute flex justify-center items-center flex-col text-white top-[369px] ms-12">
            <h2 class="text-[56px]  font-bold">About Us</h2>
            <h3 class="text-[24px]">Get To Know Our Team And Values</h3>
        </div>
    </div>
</BaseLayout>
