---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div
        class="container mt-20 flex justify-center items-center flex-col mx-auto"
    >
        <h1 class="font-bold text-[34px] leading-[42.5px] tracking-tighter">
            Get In touch
        </h1>
        <h3
            class="font-bold text-[24px] leading-[30px] tracking-tighter text-[#7C7B7B] mt-4"
        >
            Experience Unmatched Excellence and Exclusive Solutions
        </h3>
    </div>

    <!-- Maps Section -->
    <div class="container min-w-full mt-12 bg-[#E4EEF4]">
        <div class="mt-20 flex justify-center gap-2 py-10">
            <!-- Iraq Branch -->
            <div class="flex flex-col items-start">
                <span
                    class="text-black px-3 py-1 text-[22px] font-semibold mb-2"
                    >Iraq Branch</span
                >
                <div
                    class="w-[500px] h-[500px] bg-[#D9D9D9] flex items-center justify-center"
                >
                    <p class="font-bold text-lg">Map</p>
                </div>
            </div>

            <!-- UAE Branch -->
            <div class="flex flex-col items-start">
                <span
                    class="text-black px-3 py-1 text-[22px] font-semibold mb-2"
                    >UAE Branch</span
                >
                <div
                    class="w-[500px] h-[500px] bg-[#D9D9D9] flex items-center justify-center"
                >
                    <p class="font-bold text-lg">Map</p>
                </div>
            </div>
        </div>
    </div>

    <!--Contact Info -->
</BaseLayout>
