---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import HamiltonCards from "../components/HamiltonCards.astro";
---

<BaseLayout>
    <div
        class="container mt-20 flex justify-center items-center flex-col mx-auto max-lg:text-center min-w-full"
    >
        <h1 class="font-bold lg:text-[34px] text-[30px] leading-[42.5px] tracking-tighter">
            Hamilton Medical
        </h1>
        <h3
            class="font-bold lg:text-[24px] text-[20px] leading-[30px] tracking-tighter text-[#7C7B7B] mt-4"
        >
            Experience Unmatched Excellence and Exclusive Solutions
        </h3>
    </div>

    <div
        class="container flex flex-col min-w-full lg:ps-32 mt-20 bg-[#E4EEF4] py-10"
    >
        <h2
            class="font-bold lg:text-[34px] text-[30px] tracking-tighter mb-4 border-l-[7px] ps-5 rounded-sm border-[#6699FF] flex max-lg:mx-auto"
        >
            Description
        </h2>

        <p class="font-normal leading-[22.5px] tracking-tighter lg:pe-20 flex max-lg:mx-auto max-lg:text-center max-lg:text-[20px] max-lg:px-5 max-lg:leading-[32px]">
            HAMILTON MEDICAL was founded from a passion with the goal of
            improving the lives of patients on respirators and the people who
            care for them. Since 1983, our commitment to innovation has resulted
            in creative solutions such as ultrafast valve technology, on-airway
            flow sensing, lung function graphics monitoring, pulmonary parameter
            monitoring, the world’s first closed-loop controlled ventilation
            mode, Adaptive Support Ventilation (ASV), and the systematic
            evolution of ASV: INTELLiVENT®-ASV.
        </p>
    </div>

    <div
        class="container flex flex-col mx-auto min-w-full lg:ps-32 mt-20 bg-[#E4EEF4] py-10"
    >
        <h2
            class="font-bold lg:text-[34px] text-[30px] tracking-tighter border-l-[7px] ps-5 rounded-sm border-[#6699FF] max-lg:mx-auto"
        >
            Products
        </h2>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-2 lg:me-24 max-lg:mx-auto"
        >
            <HamiltonCards />
            <HamiltonCards />
            <HamiltonCards />
            <HamiltonCards />
            <HamiltonCards />
            <HamiltonCards />
        </div>
    </div>
</BaseLayout>
