---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Ellipse from "../components/Ellipse.astro";
import Button from "../components/Button.astro";
---

<BaseLayout>
	<!-- Upper Part Of The Body -->
	<div
		class="container mx-auto flex flex-col md:flex-row items-center justify-between font-normal md:gap-10 lg:gap-16 xl:gap-24 relative"
	>
		<!-- Text Section -->
		<div class="ms-4 md:ms-12 w-full md:w-1/2">
			<h2
				class="font-bold text-2xl md:text-3xl lg:text-4xl uppercase leading-snug"
			>
				offering <span class="text-custom-text-color">advanced</span>, <span
					class="text-custom-text-color">high-quality</span
				> medical and lab equipment with a world-class customer-oriented.
			</h2>
			<div
				class="mt-5 md:mt-7 leading-snug text-lg md:text-xl font-bold text-[#707A80]"
			>
				<p>
					Delivering Cost-Effective Quality Products with a Commitment
					to Customer Satisfaction and Lifelong Relationships
				</p>
			</div>

			<!--Button Component -->
			<Button />
		</div>

		<!-- Photo Section -->
		<div class="w-full md:w-1/2 mt-1 md:mt-0 relative">
			<!-- Ellipse Behind the Photo -->
			<Ellipse />

			<!-- Photo -->
			<div class="flex justify-center relative">
				<img
					src="/img/doctor.png"
					alt="Doctor"
					class="w-64 md:w-72 lg:w-80 xl:w-96 h-auto object-cover rounded-md"
				/>
			</div>
		</div>
	</div>

	<!--Middle Body Part -->
	<div class="flex justify-center items-center mt-40">
		<h2 class="font-bold text-4xl tracking-tight">Our Trusted Clients</h2>
	</div>

	<!--Logo Part -->
	<div
		class="container columns-7 flex-col flex md:flex-row justify-center items-center gap-32 mt-20 md:text-3xl text-2xl font-bold"
	>
		<p>Logo1</p>
		<p>Logo2</p>
		<p>Logo3</p>
		<p>Logo4</p>
		<p>Logo5</p>
		<p>Logo6</p>
		<p>Logo7</p>
	</div>
</BaseLayout>
