---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<!--Upper Part Of The Body-->
	<div
		class="container mx-auto lg:columns-2 sm:columns-1"
	>
		<div class="ms-12">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Nesciunt velit nostrum, ad obcaecati ab minus odit eius porro
				tempora praesentium consectetur, fugiat cum expedita provident
				repudiandae totam libero. Voluptas, vel!
			</p>
		</div>

		<div>
			<p class="sm:ms-12">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Reprehenderit veritatis, mollitia consequatur aut nemo, saepe,
				vitae fuga pariatur deserunt error dignissimos adipisci
				voluptatibus id iusto animi voluptatum culpa eaque nisi?
			</p>
		</div>
	</div>
</BaseLayout>
