---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<!-- Upper Part Of The Body -->
	<div
		class="container mx-auto flex flex-col md:flex-row items-center justify-between font-normal md:gap-10 lg:gap-16 xl:gap-24"
	>
		<!-- Text Section -->
		<div class="ms-4 md:ms-12 w-full md:w-1/2">
			<h2
				class="font-bold text-2xl md:text-3xl lg:text-4xl uppercase leading-snug"
			>
				offering <span class="text-custom-text-color">advanced</span>, <span
					class="text-custom-text-color">high-quality</span
				> medical and lab equipment with a world-class customer-oriented.
			</h2>
			<div class="mt-5 md:mt-7 leading-snug text-lg md:text-xl">
				<p>
					Delivering Cost-Effective Quality Products with a Commitment
					to Customer Satisfaction and Lifelong Relationships
				</p>
			</div>
			<div class="flex space-x-4 md:space-x-6 mt-6 md:mt-10">
				<button
					class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md shadow-md hover:bg-blue-600 transition-colors"
				>
					Browse Our Services
				</button>
				<button
					class="bg-transparent border border-blue-500 text-blue-500 font-semibold py-2 px-4 rounded-md shadow-md hover:bg-blue-100 transition-colors"
				>
					Browse Our Services
				</button>
			</div>
		</div>

		<!-- Photo Section -->
		<div class="w-full md:w-1/2 mt-8 md:mt-0">
			<div class="flex justify-center">
				<img
					src="/public/img/doctor.png"
					alt="Doctor"
					class="w-64 md:w-72 lg:w-80 xl:w-96 h-auto object-cover rounded-md"
				/>
			</div>
		</div>
	</div>
</BaseLayout>
