---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Ellipse from "../components/Ellipse.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<BaseLayout>
	<!-- Upper Part Of The Body -->
	<div
		class="container mx-auto flex flex-col md:flex-row items-center justify-between font-normal md:gap-10 lg:gap-16 xl:gap-24 relative"
	>
		<!-- Text Section -->
		<div class="ms-4 md:ms-12 w-full md:w-1/2">
			<h2
				class="font-bold text-2xl md:text-3xl lg:text-4xl uppercase leading-snug"
			>
				offering <span class="text-custom-text-color">advanced</span>, <span
					class="text-custom-text-color">high-quality</span
				> medical and lab equipment with a world-class customer-oriented.
			</h2>
			<div
				class="mt-5 md:mt-7 leading-snug text-lg md:text-xl font-bold text-[#707A80]"
			>
				<p>
					Delivering Cost-Effective Quality Products with a Commitment
					to Customer Satisfaction and Lifelong Relationships
				</p>
			</div>

			<!--Button Component -->
			<Button />
		</div>

		<!-- Photo Section -->
		<div class="w-full md:w-1/2 mt-1 md:mt-0 relative">
			<!-- Ellipse Behind the Photo -->
			<Ellipse />

			<!-- Photo -->
			<div class="flex justify-center relative">
				<img
					src="/img/doctor.png"
					alt="Doctor"
					class="w-64 md:w-72 lg:w-80 xl:w-96 h-auto object-cover rounded-md"
				/>
			</div>
		</div>
	</div>

	<!--Middle Body Part -->
	<div class="flex justify-center items-center mt-40">
		<h2 class="font-bold text-4xl tracking-tight">Our Trusted Clients</h2>
	</div>

	<!--Logo Part -->
	<div
		class="container columns-7 flex-col flex md:flex-row justify-center items-center gap-x-[127px] mt-20 md:text-3xl text-2xl font-bold mb-44  "
	>
		<p>Logo1</p>
		<p>Logo2</p>
		<p>Logo3</p>
		<p>Logo4</p>
		<p>Logo5</p>
		<p>Logo6</p>
		<p>Logo7</p>
	</div>

	<Ellipse top="170%" left="8%" width="230px" height="280px" opacity="0.2" />

	<!--Our Premium Services -->
	<div
		class="container flex flex-col md:flex-row justify-between px-4 md:px-11 service-section mt-20"
	>
		<div class="md:w-1/2">
			<h2 class="font-bold text-2xl md:text-[34px] tracking-tighter">
				Our Premium Services
			</h2>

			<div class="mt-10 ps-7">
				<div class="mb-6 border-l-[7px] ps-2 rounded-sm border-[#6699FF]">
					<h3 class="text-xl md:text-[24px] font-bold mb-3  ">
						Design
					</h3>
					<p>
						Expertise-Driven Integrated Healthcare Solutions: From
						Planning to Installation with Unwavering Commitment to
						Quality.
					</p>
				</div>

				<div class="mb-6">
					<h3 class="text-xl md:text-[24px] font-bold mb-3">
						supply
					</h3>
					<p>
						Expertise-Driven Integrated Healthcare Solutions: From
						Planning to Installation with Unwavering Commitment to
						Quality.
					</p>
				</div>

				<div class="mb-6">
					<h3 class="text-xl md:text-[24px] font-bold mb-3">
						installation
					</h3>
					<p>
						Expertise-Driven Integrated Healthcare Solutions: From
						Planning to Installation with Unwavering Commitment to
						Quality.
					</p>
				</div>

				<div class="mb-6">
					<h3 class="text-xl md:text-[24px] font-bold mb-3">
						quality control
					</h3>
					<p>
						Expertise-Driven Integrated Healthcare Solutions: From
						Planning to Installation with Unwavering Commitment to
						Quality.
					</p>
				</div>

				<div class="mb-6">
					<h3 class="text-xl md:text-[24px] font-bold mb-3">
						training
					</h3>
					<p>
						Expertise-Driven Integrated Healthcare Solutions: From
						Planning to Installation with Unwavering Commitment to
						Quality.
					</p>
				</div>
			</div>
		</div>

		<!--Image Section-->
		<div
			class="bg-slate-300 w-full md:w-[590px] h-[300px] md:h-[590.95px] flex justify-center items-center mt-10 md:mt-4"
		>
			<h2 class="font-bold text-2xl md:text-[34px]">Image</h2>
		</div>
	</div>
	
	<Ellipse top="290%" left="17%" width="455px" height="335px" opacity="0.2" />
	<!--Our Featured Products Section -->
	<div
		class="conainer mt-36 ms-16 me-7 flex flex-row w-auto justify-between mb-10"
	>
		<div>
			<h2 class="text-3xl md:text-[34px] font-bold tracking-tighter">
				Our Featured Products
			</h2>
			<p
				class="text-[24px] font-bold text-[#7C7B7B] mt-5 tracking-tighter"
			>
				Experience Unmatched Excellence and Exclusive Solutions
			</p>
		</div>

		<div class="flex me-10">
			<button
				class="rounded-xl text-[20px] border-[3px] border-[#6699FF] text-[#6699FF] self-center justify-self-center px-2 hover:bg-blue-100 transition-colors"
				>View More</button
			>
		</div>
	</div>

	<!--Cards -->
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-16">
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
		<Card
			imageUrl="https://via.placeholder.com/420x316"
			category="Product Category "
			title="775l-36 Wheel Chair"
		/>
	</div>

	<Ellipse top="425%" left="85%" width="450px" height="380px" opacity="0.2" />
</BaseLayout>
