---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<!--Upper Part Of The Body-->
	<div
		class="container mx-auto flex items-center justify-between font-normal"
	>
		<div class="ms-12 w-2/3">
			<p class="font-bold text-3xl uppercase leading-snug">
				offering <span class="text-custom-text-color">advanced</span>, <span
					class="text-custom-text-color">high-quality</span
				> medical and lab equipment with a world-class customer-oriented.
			</p>
		</div>

		<div>
			<p class="sm:ms-12">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Reprehenderit veritatis, mollitia consequatur aut nemo, saepe,
				vitae fuga pariatur deserunt error dignissimos adipisci
				voluptatibus id iusto animi voluptatum culpa eaque nisi?
			</p>
		</div>
	</div>
</BaseLayout>
