---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body class="font-lexend">
		<nav class="bg-white p-4">
			<div
				class="container mx-auto flex items-center justify-between font-normal"
			>
				<!-- Logo -->
				<div class="flex-shrink-0 ms-4">
					<img src="/logo.png" alt="Site Logo" class="h-14 w-32" />
				</div>

				<!-- Navigation Links -->
				<div
					class="hidden md:flex flex-grow justify-center space-x-9 text-xl font-lexend font"
				>
					<a href="/" class="text-custom-black hover:text-black"
						>Home</a
					>
					<a href="/" class="text-custom-black hover:text-black"
						>About Us</a
					>
					<a href="/" class="text-custom-black hover:text-black"
						>Products</a
					>
					<a href="/" class="text-custom-black hover:text-black"
						>Services</a
					>
					<a href="/" class="text-custom-black hover:text-black"
						>Hamilton</a
					>
					<a href="/" class="text-custom-black hover:text-black"
						>Clients</a
					>
					<a href="/" class="text-custom-black hover:text-black">
						Contact Us</a
					>
				</div>

				<!-- Toggle Button -->
				<div class="flex items-center space-x-2">
					<!-- English Label -->
					<span class="text-black font-bold">ENGLISH</span>

					<!-- Toggle Switch -->
					<label
						for="toggle-example"
						class="relative inline-flex items-center cursor-pointer"
					>
						<input
							type="checkbox"
							id="toggle-example"
							class="sr-only peer"
						/>
						<div
							class="w-11 h-6 bg-gray-200 rounded-full peer-checked:bg-black"
						>
						</div>
						<div
							class="dot absolute left-1 top-0.5 bg-white w-5 h-5 rounded-full transition-transform transform peer-checked:translate-x-full peer-checked:border-white border border-gray-300"
						>
						</div>
					</label>

					<!-- Arabic Label -->
					<span class="text-black font-bold">العربية</span>
				</div>
			</div>
		</nav>

		<!--Body Section -->
		<section></section>

		<!-- Footer -->
		<footer class="bg-custom-bg py-8">
			<!-- Top Section -->
			<div class="container mx-auto px-4 lg:px-8">
				<div class="md:flex md:items-center md:justify-between mb-6">
					<div class="text-center md:text-left">
						<h2 class="text-xl font-bold">
							Get Our Updates Always Fast
						</h2>
						<p class="text-gray-600 mt-2 max-w-xl text-lg">
							10% Off Your Next Order When You Sign Up + Be The
							First To Know About New Products And Special Offers.
						</p>
					</div>
					<div
						class="mt-4 md:mt-0 flex justify-center md:justify-end md:ml-4"
					>
						<input
							type="email"
							placeholder="Enter Your Email Here ..."
							class="p-3 rounded-l-lg border border-gray-300 w-full max-w-md md:w-auto md:flex-grow"
						/>
						<button
							class="bg-blue-500 text-white px-6 py-3 rounded-r-lg"
							>Subscribe Now</button
						>
					</div>
				</div>

				<!-- Top Horizontal Line Container -->
				<div class="flex justify-center">
					<hr
						class="my-4 border-black w-full"
						style="max-width: 100%;"
					/>
				</div>

				<div
					class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0"
				>
					<!-- Company Info -->
					<div class="flex-1">
						<img
							src="/logo.png"
							alt="Logo"
							class="h-20 mb-4 w-48"
						/>
						<p class="text-gray-600 text-sm">
							We aim to improve and modernize the medical sector
							in Iraq by providing highly skilled and most
							advanced solutions. Our access to thousands of
							products from different top-rated vendors.
						</p>
						<div class="mt-4 flex space-x-3">
							<a
								href="#"
								class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
								><i class="fab fa-youtube">Yt</i></a
							>
							<a
								href="#"
								class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
								><i class="fab fa-facebook">Fb</i></a
							>
							<a
								href="#"
								class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
								><i class="fab fa-twitter">Tw</i></a
							>
							<a
								href="#"
								class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
								><i class="fab fa-instagram">Ig</i></a
							>
						</div>
					</div>

					<!-- Categories -->
					<div class="flex-1 ms-20 pt-8 text-2xl">
						<h3 class="text-lg font-bold mb-2">Categories</h3>
						<ul class="text-gray-600 text-sm space-y-2 pt-3">
							<li>Face Masks</li>
							<li>PPE Kit</li>
							<li>Safety</li>
							<li>Eye Protector</li>
							<li>Disposable</li>
						</ul>
					</div>

					<!-- Links to Partners -->
					<div class="flex-1 pt-8 text-2xl">
						<h3 class="text-lg font-bold mb-2">
							Links to Partners
						</h3>
						<ul class="text-gray-600 text-sm space-y-2 pt-3">
							<li>Face Masks</li>
							<li>PPE Kit</li>
							<li>Safety</li>
							<li>Eye Protector</li>
							<li>Disposable</li>
						</ul>
					</div>

					<!-- Navigation Links -->
					<div class="flex-1 pt-8 text-2xl">
						<h3 class="text-lg font-bold mb-2">Navigation Links</h3>
						<ul class="text-gray-600 text-sm space-y-2 pt-3">
							<li>Face Masks</li>
							<li>PPE Kit</li>
							<li>Safety</li>
							<li>Eye Protector</li>
							<li>Disposable</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Bottom Section -->
			<div class="bg-custom-bg mt-16">
				<div class="container mx-auto text-center text-gray-600 mt-12">
					<!-- Bottom Horizontal Line Container -->
					<div class="flex justify-center">
						<hr
							class="my-4 border-black w-full"
							style="max-width: 100%;"
						/>
					</div>
					<p class="mt-0 text-black font-bold text-sm">
						&copy; 2023 Medical Pulse. All rights reserved. Made by
						Misc Electronics.
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
