---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <!--Header Part -->
    <div
        class="container mt-20 flex justify-center items-center flex-col mx-auto"
    >
        <h1 class="font-bold text-3xl md:text-[34px] leading-[42.5px] tracking-tighter">
            Our premium services
        </h1>
        <h3
            class="font-bold md:text-[24px] text-[17px] leading-[30px] tracking-tighter text-[#7C7B7B] mt-4 max-sm:text-center"
        >
            Experience Unmatched Excellence and Exclusive Solutions
        </h3>
    </div>

    <!--Body Part -->
    <div
        class="container flex flex-col max-lg:space-y-10 lg:flex-row justify-evenly items-center columns-2 mt-20 bg-[#E4EEF4] py-24 mx-auto min-w-full"
    >
        <div class="container flex flex-col lg:w-[30%] w-[85%] md:space-y-10">
            <h2
                class="md:text-[30px] text-[32px] max-sm:mx-auto max-sm:mb-5 font-bold leading[42.5px] tracking-tighter"
            >
                Design
            </h2>
            <p class="font-normal leading-[22.5px] max-sm:leading-[28px] md:text-[17px] text-[18px] max-sm:mx-auto max-sm:text-center">
                Our highly trained team has a strong desire to do the “right
                thing” and to deliver the promises that we make. We maintain
                very high levels of training, knowledge & technical expertise to
                deliver integrated solutions that work. <span class="block"
                    >PME healthcare planners and engineering experts work with a
                    wealth of international expertise mixed with local
                    understanding. We would be one of our best customer’s
                    options.We can take Healthcare project from; planning to
                    concept design and drive into installation and training all
                    under strict quality control</span
                >
            </p>
        </div>

        <div
            class="container flex lg:w-[30%] w-[85%]  bg-[#D9D9D9] justify-center items-center h-[400px]"
        >
            <p class="font-bold text-[34px]">Image</p>
        </div>
    </div>

    <!--Second Part -->
    <div
        class="container flex flex-col max-lg:space-y-10 lg:flex-row justify-evenly items-center columns-2 mt-20 py-24 mx-auto min-w-full"
    >
        <div
            class="container flex lg:w-[30%] w-[85%] bg-[#D9D9D9] justify-center items-center h-[400px]"
        >
            <p class="font-bold text-[34px]">Image</p>
        </div>
        <div class="container flex flex-col lg:w-[30%] w-[85%] md:space-y-10">
            <h2
                class="md:text-[30px] text-[32px] max-sm:mx-auto max-sm:mb-5 font-bold leading[42.5px] tracking-tighter"
            >
                Design
            </h2>
            <p class="font-normal leading-[22.5px] max-sm:leading-[28px] md:text-[17px] text-[18px] max-sm:mx-auto max-sm:text-center">
                Our highly trained team has a strong desire to do the “right
                thing” and to deliver the promises that we make. We maintain
                very high levels of training, knowledge & technical expertise to
                deliver integrated solutions that work. <span class="block"
                    >PME healthcare planners and engineering experts work with a
                    wealth of international expertise mixed with local
                    understanding. We would be one of our best customer’s
                    options.We can take Healthcare project from; planning to
                    concept design and drive into installation and training all
                    under strict quality control</span
                >
            </p>
        </div>
    </div>

    <!--Third Part -->
    <div
        class="container flex flex-col max-lg:space-y-10 lg:flex-row justify-evenly items-center columns-2 mt-20 bg-[#E4EEF4] py-24 mx-auto min-w-full"
    >
        <div class="container flex flex-col lg:w-[30%] w-[85%] md:space-y-10">
            <h2
                class="md:text-[30px] text-[32px] max-sm:mx-auto max-sm:mb-5 font-bold leading[42.5px] tracking-tighter"
            >
                Design
            </h2>
            <p class="font-normal leading-[22.5px] max-sm:leading-[28px] md:text-[17px] text-[18px] max-sm:mx-auto max-sm:text-center">
                Our highly trained team has a strong desire to do the “right
                thing” and to deliver the promises that we make. We maintain
                very high levels of training, knowledge & technical expertise to
                deliver integrated solutions that work. <span class="block"
                    >PME healthcare planners and engineering experts work with a
                    wealth of international expertise mixed with local
                    understanding. We would be one of our best customer’s
                    options.We can take Healthcare project from; planning to
                    concept design and drive into installation and training all
                    under strict quality control</span
                >
            </p>
        </div>

        <div
            class="container flex lg:w-[30%] w-[85%] bg-[#D9D9D9] justify-center items-center h-[400px]"
        >
            <p class="font-bold text-[34px]">Image</p>
        </div>
    </div>

    <!--Fourth Part -->
    <div
        class="container flex flex-col max-lg:space-y-10 lg:flex-row justify-evenly items-center columns-2 mt-20 py-24 mx-auto min-w-full"
    >
        <div
            class="container flex lg:w-[30%] w-[85%] bg-[#D9D9D9] justify-center items-center h-[400px]"
        >
            <p class="font-bold text-[34px]">Image</p>
        </div>
        <div class="container flex flex-col lg:w-[30%] w-[85%] md:space-y-10">
            <h2
                class="md:text-[30px] text-[32px] max-sm:mx-auto max-sm:mb-5 font-bold leading[42.5px] tracking-tighter"
            >
                Design
            </h2>
            <p class="font-normal leading-[22.5px] max-sm:leading-[28px] md:text-[17px] text-[18px] max-sm:mx-auto max-sm:text-center">
                Our highly trained team has a strong desire to do the “right
                thing” and to deliver the promises that we make. We maintain
                very high levels of training, knowledge & technical expertise to
                deliver integrated solutions that work. <span class="block"
                    >PME healthcare planners and engineering experts work with a
                    wealth of international expertise mixed with local
                    understanding. We would be one of our best customer’s
                    options.We can take Healthcare project from; planning to
                    concept design and drive into installation and training all
                    under strict quality control</span
                >
            </p>
        </div>
    </div>

    <!--Bottom Part -->
    <div class="container min-w-full bg-[#E4EEF4] py-12">
    <div class="container flex justify-center mx-auto min-w-full">
        <h2 class="font-bold md:text-[32px] leading-[42.5px] tracking-tighter text-[27px] max-sm:mx-auto max-sm:text-center">Explore Our Comprehensive Solutions and Support</h2>
    </div>  

    <div class="container flex lg:flex-row min-w-full mt-8 flex-col">
        <div class="container mx-auto flex flex-col bg-white w-[311px] h-[450px] py-4 px-4 border-[3px] border-[#6699FF] rounded-lg mt-5">
            <h3 class="text-[20px] font-bold leading-[25px] tracking-tighter mb-10">Medical Equipment Services</h3>
            <p class="mb-12"><span class="bg-[#6699FF] rounded-full py-1 px-2 text-white">1</span> Supply of Medical Disposables.</p>
            <p class="mb-12"><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">2</span> Construction and Renovation Consultancy and Management.</p>
            <p><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">3</span> Supply, Installation, and Training of Hospital Management Systems.</p>
        </div>

        <div class="container mx-auto flex flex-col bg-white w-[311px] h-[450px] py-4 px-4 border-[3px] border-[#6699FF] rounded-lg mt-5">
            <h3 class="text-[20px] font-bold leading-[25px] tracking-tighter mb-10">Medical Equipment Solutions</h3>
            <p class="mb-6"><span class="bg-[#6699FF] rounded-full py-1 px-2 text-white">1</span> Supply of Medical Disposables.</p>
            <p class="mb-6"><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">2</span> Supply of All Types of Laboratory Test Kits.</p>
            <p class="mb-6"><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">3</span> Equipment Selection, Budgeting, and Procurement.</p>
            <p class="mb-6"><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">4</span> Equipment Selection, Budgeting, and Procurement.</p>
            <p class="mb-6"><span class="bg-[#6699FF] rounded-full py-1 px-2  text-white">5</span> Supply, Installation, and Training for Dental Equipment and Materials.</p>
        </div>

        <div class="container mx-auto flex flex-col bg-white w-[311px] h-[450px] py-4 px-4 border-[3px] border-[#6699FF] rounded-lg mt-5">
            <h3 class="text-[20px] font-bold leading-[25px] tracking-tighter mb-10 self-center">Technology & IT Solutions</h3>
            <p class="mb-12"><span class="bg-[#6699FF] rounded-full py-1 px-2 text-white">1</span> Developing Medical IT Solutions.</p>
        </div>
    </div>
</div>
</BaseLayout>
