<footer class="bg-custom-bg pt-10 pb-5 mt-28 px-20 overflow-x-hidden">
    <!-- Top Section -->
    <div class="container mx-auto px-4 lg:px-8 w-full">
        <div class="md:flex md:items-center md:justify-between mb-6">
            <div class="text-center md:text-left">
                <h2 class="text-3xl font-bold">Get Our Updates Always Fast</h2>
                <p class="text-gray-600 mt-2 max-w-xl text-lg">
                    10% Off Your Next Order When You Sign Up + Be The First To
                    Know About New Products And Special Offers.
                </p>
            </div>
            <div
                class="mt-4 md:mt-0 flex justify-center md:justify-end md:ml-4"
            >
                <input
                    type="email"
                    placeholder="Enter Your Email Here ..."
                    class="p-3 rounded-l-lg border border-gray-300 w-full max-w-md md:w-auto md:flex-grow"
                />
                <button class="bg-blue-500 text-white px-6 py-3 rounded-r-lg"
                    >Subscribe Now</button
                >
            </div>
        </div>

        <!-- Top Horizontal Line Container -->
        <div class="flex justify-center">
            <hr class="my-4 border-black w-full" style="max-width: 100%;" />
        </div>

        <div
            class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0"
        >
            <!-- Company Info -->
            <div class="flex-1">
                <img src="/logo.png" alt="Logo" class="h-20 mb-4 w-48" />
                <p class="text-gray-600 text-sm">
                    We aim to improve and modernize the medical sector in Iraq
                    by providing highly skilled and most advanced solutions. Our
                    access to thousands of products from different top-rated
                    vendors.
                </p>
                <div class="mt-4 flex space-x-3">
                    <a
                        href="#"
                        class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
                        ><i class="fab fa-youtube">Yt</i></a
                    >
                    <a
                        href="#"
                        class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
                        ><i class="fab fa-facebook">Fb</i></a
                    >
                    <a
                        href="#"
                        class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
                        ><i class="fab fa-twitter">Tw</i></a
                    >
                    <a
                        href="#"
                        class="bg-blue-500 text-white text-lg rounded-full h-8 w-8 flex items-center justify-center"
                        ><i class="fab fa-instagram">Ig</i></a
                    >
                </div>
            </div>

            <!-- Categories -->
            <div class="flex-1 lg:ms-20 pt-8 text-2xl">
                <h3 class="text-lg font-bold mb-2">Categories</h3>
                <ul class="text-gray-600 text-sm space-y-2 pt-3">
                    <li>Face Masks</li>
                    <li>PPE Kit</li>
                    <li>Safety</li>
                    <li>Eye Protector</li>
                    <li>Disposable</li>
                </ul>
            </div>

            <!-- Links to Partners -->
            <div class="flex-1 pt-8 text-2xl">
                <h3 class="text-lg font-bold mb-2">Links to Partners</h3>
                <ul class="text-gray-600 text-sm space-y-2 pt-3">
                    <li>Face Masks</li>
                    <li>PPE Kit</li>
                    <li>Safety</li>
                    <li>Eye Protector</li>
                    <li>Disposable</li>
                </ul>
            </div>

            <!-- Navigation Links -->
            <div class="flex-1 pt-8 text-2xl">
                <h3 class="text-lg font-bold mb-2">Navigation Links</h3>
                <ul class="text-gray-600 text-sm space-y-2 pt-3">
                    <li>Face Masks</li>
                    <li>PPE Kit</li>
                    <li>Safety</li>
                    <li>Eye Protector</li>
                    <li>Disposable</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bottom Section -->

    <div class="flex justify-center mt-24">
        <hr class="border-black w-full mx-6" style="max-width: 100%;" />
    </div>

    <div class="bg-custom-bg mt-0 w-full">
        <div class="container mx-auto text-center text-gray-600 mt-0">
            <!-- Bottom Horizontal Line Container -->
        </div>
        <p class="mt-0 pt-3 text-black font-bold md:text-sm flex justify-center max-sm:text-center">
            &copy; 2023 Medical Pulse. All rights reserved. Made by Misc
            Electronics.
        </p>
    </div>
</footer>
