---
const currentPath = Astro.url.pathname;
---

<nav class="bg-white p-4 mb-0 z-50">
    <div
        class="container mx-auto flex items-center justify-between font-normal"
    >
        <!-- Logo -->
        <div class="flex-shrink-0 ms-4 lg:ms-7">
            <img
                src="/logo.png"
                alt="Site Logo"
                class="h-12 w-28 lg:h-14 lg:w-32"
            />
        </div>

        <!-- Navigation Links (Desktop) -->
        <div
            class="hidden md:flex flex-grow justify-center md:space-x-8 lg:space-x-7 md:text-base lg:text-xl font-lexend uppercase"
        >
            <a
                href="/"
                class={`hover:text-black ${currentPath === "/" ? "text-black font-bold" : "text-custom-black"}`}
                >Home</a
            >
            <a
                href="/about"
                class={`hover:text-black ${currentPath === "/about" ? "text-black font-bold" : "text-custom-black"}`}
                >About Us</a
            >
            <a
                href="/products"
                class={`hover:text-black ${currentPath === "/products" ? "text-black font-bold" : "text-custom-black"}`}
                >Products</a
            >
            <a
                href="/services"
                class={`hover:text-black ${currentPath === "/services" ? "text-black font-bold" : "text-custom-black"}`}
                >Services</a
            >
            <a
                href="/hamilton"
                class={`hover:text-black ${currentPath === "/hamilton" ? "text-black font-bold" : "text-custom-black"}`}
                >Hamilton</a
            >
            <a
                href="/clients"
                class={`hover:text-black ${currentPath === "/clients" ? "text-black font-bold" : "text-custom-black"}`}
                >Clients</a
            >
            <a
                href="/contact"
                class={`hover:text-black ${currentPath === "/contact" ? "text-black font-bold" : "text-custom-black"}`}
                >Contact Us</a
            >
        </div>

        <!-- Toggle Button for Mobile -->
        <button id="menu-button" class="md:hidden flex items-center text-black">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <!-- Language Switch (Desktop) -->
        <div class="hidden md:flex items-center space-x-2 me-4 lg:me-7">
            <!-- English Label -->
            <span class="text-black font-bold">ENGLISH</span>

            <!-- Toggle Switch -->
            <label
                for="toggle-example"
                class="relative inline-flex items-center cursor-pointer"
            >
                <input
                    type="checkbox"
                    id="toggle-example"
                    class="sr-only peer"
                />
                <div
                    class="w-11 h-6 bg-gray-200 rounded-full peer-checked:bg-black"
                >
                </div>
                <div
                    class="absolute left-1 top-0.5 w-5 h-5 bg-black rounded-full transition-transform transform peer-checked:translate-x-full peer-checked:border-white border border-gray-300"
                >
                </div>
            </label>

            <!-- Arabic Label -->
            <span class="text-black font-bold">العربية</span>
        </div>
    </div>

    <!-- Dropdown Menu (Mobile) -->
    <div
        id="dropdown-menu"
        class="hidden fixed inset-0 p-4 mt-16 lg:hidden flex-col items-center justify-center space-y-4 shadow-lg bg-white"
    >
        <a
            href="/"
            class={`block py-2 px-4 text-lg ${currentPath === "/" ? "text-black font-bold" : "text-custom-black"}`}
            >Home</a
        >
        <a
            href="/about"
            class={`block py-2 px-4 text-lg ${currentPath === "/about" ? "text-black font-bold" : "text-custom-black"}`}
            >About Us</a
        >
        <a
            href="/products"
            class={`block py-2 px-4 text-lg ${currentPath === "/products" ? "text-black font-bold" : "text-custom-black"}`}
            >Products</a
        >
        <a
            href="/services"
            class={`block py-2 px-4 text-lg ${currentPath === "/services" ? "text-black font-bold" : "text-custom-black"}`}
            >Services</a
        >
        <a
            href="/hamilton"
            class={`block py-2 px-4 text-lg ${currentPath === "/hamilton" ? "text-black font-bold" : "text-custom-black"}`}
            >Hamilton</a
        >
        <a
            href="/clients"
            class={`block py-2 px-4 text-lg ${currentPath === "/clients" ? "text-black font-bold" : "text-custom-black"}`}
            >Clients</a
        >
        <a
            href="/contact"
            class={`block py-2 px-4 text-lg ${currentPath === "/contact" ? "text-black font-bold" : "text-custom-black"}`}
            >Contact Us</a
        >
    </div>

    <!-- Language Switch (Mobile) -->
    <div
        class="fixed bottom-4 right-4 flex items-center space-x-2 z-40 md:hidden"
    >
        <!-- English Label -->
        <span class="text-black font-bold text-sm">ENGLISH</span>

        <!-- Toggle Switch -->
        <label
            for="toggle-example-mobile"
            class="relative inline-flex items-center cursor-pointer"
        >
            <input
                type="checkbox"
                id="toggle-example-mobile"
                class="sr-only peer"
            />
            <div class="w-9 h-5 bg-gray-200 rounded-full peer-checked:bg-black">
            </div>
            <div
                class="absolute left-1 top-0.5 w-4 h-4 bg-black rounded-full transition-transform transform peer-checked:translate-x-full peer-checked:border-white border border-gray-300"
            >
            </div>
        </label>

        <!-- Arabic Label -->
        <span class="text-black font-bold text-sm">العربية</span>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuButton = document.getElementById("menu-button");
            const dropdownMenu = document.getElementById("dropdown-menu");

            if (menuButton && dropdownMenu) {
                menuButton.addEventListener("click", () => {
                    dropdownMenu.classList.toggle("hidden");
                });
            }
        });
    </script>
</nav>
