---
const currentPath = Astro.url.pathname;
---

<nav class="py-3 z-50 flex justify-around min-w-full mx-auto">
    <div class="container flex items-center lg:justify-center justify-between mx-auto max-lg:px-2">
        <!-- Logo -->
        <div class="flex-shrink-0">
            <img
                src="/logo.png"
                alt="Site Logo"
                class="h-[54px] w-[106px] md:h-10 md:w-24 xl:h-14 xl:w-32 lg:h-14 lg:w-28"
            />
        </div>

        <!-- Navigation Links (Desktop) -->
        <div
            class="hidden md:hidden lg:mx-12 xl:mx-20 lg:flex lg:space-x-7 space-x-4 xl:space-x-8 text-xs md:text-sm xl:text-[18px] lg:text-[13px] font-lexend uppercase leading-[18px] font-normal"
        >
            <a
                href="/"
                class={`hover:text-black ${currentPath === "/" ? "text-black font-bold" : "text-custom-black"}`}
                >Home</a
            >
            <a
                href="/about"
                class={`hover:text-black ${currentPath === "/about" ? "text-black font-bold" : "text-custom-black"}`}
                >About Us</a
            >
            <a
                href="/products"
                class={`hover:text-black ${currentPath === "/products" ? "text-black font-bold" : "text-custom-black"}`}
                >Products</a
            >
            <a
                href="/services"
                class={`hover:text-black ${currentPath === "/services" ? "text-black font-bold" : "text-custom-black"}`}
                >Services</a
            >
            <a
                href="/hamilton"
                class={`hover:text-black ${currentPath === "/hamilton" ? "text-black font-bold" : "text-custom-black"}`}
                >Hamilton</a
            >
            <a
                href="/clients"
                class={`hover:text-black ${currentPath === "/clients" ? "text-black font-bold" : "text-custom-black"}`}
                >Clients</a
            >
            <a
                href="/contact"
                class={`hover:text-black ${currentPath === "/contact" ? "text-black font-bold" : "text-custom-black"}`}
                >Contact Us</a
            >
        </div>

        <!-- Toggle Button for Mobile -->
        <button
            id="menu-button"
            class="lg:hidden flex items-center text-black relative z-50"
        >
            <svg
                class="w-10 h-10"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <!-- Language Switch (Desktop) -->
        <div class="hidden lg:flex items-center space-x-1">
            <span class="text-black font-bold text-xs md:text-sm lg:text-base"
                >ENGLISH</span
            >
            <label
                for="toggle-example"
                class="relative inline-flex items-center cursor-pointer"
            >
                <input
                    type="checkbox"
                    id="toggle-example"
                    class="sr-only peer"
                />
                <div
                    class="w-10 h-5 bg-gray-200 rounded-full peer-checked:bg-black"
                >
                </div>
                <div
                    class="absolute left-0.5 top-0.5 w-4 h-4 bg-black rounded-full transition-transform transform peer-checked:translate-x-full peer-checked:border-white border border-gray-300"
                >
                </div>
            </label>
            <span class="text-black font-bold text-xs md:text-sm lg:text-base"
                >العربية</span
            >
        </div>
    </div>

    <!-- Dropdown Menu (Mobile) -->
<div
id="dropdown-menu"
class="fixed inset-0 py-4 mt-16 bg-slate-100 text-[20px] hidden flex-col justify-center items-center space-y-4 z-40"
>
<a
    href="/"
    class={`block py-2 px-4 justify-self-center  ${currentPath === "/" ? "text-black font-bold" : "text-custom-black"}`}
    >Home</a
>
<a
    href="/about"
    class={`block py-2 px-4  ${currentPath === "/about" ? "text-black font-bold" : "text-custom-black"}`}
    >About Us</a
>
<a
    href="/products"
    class={`block py-2 px-4  ${currentPath === "/products" ? "text-black font-bold" : "text-custom-black"}`}
    >Products</a
>
<a
    href="/services"
    class={`block py-2 px-4  ${currentPath === "/services" ? "text-black font-bold" : "text-custom-black"}`}
    >Services</a
>
<a
    href="/hamilton"
    class={`block py-2 px-4  ${currentPath === "/hamilton" ? "text-black font-bold" : "text-custom-black"}`}
    >Hamilton</a
>
<a
    href="/clients"
    class={`block py-2 px-4  ${currentPath === "/clients" ? "text-black font-bold" : "text-custom-black"}`}
    >Clients</a
>
<a
    href="/contact"
    class={`block py-2 px-4  ${currentPath === "/contact" ? "text-black font-bold" : "text-custom-black"}`}
    >Contact Us</a
>
</div>


    <!-- Language Switch (Mobile) -->
   
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuButton = document.getElementById("menu-button");
            const dropdownMenu = document.getElementById("dropdown-menu");

            if (menuButton && dropdownMenu) {
                menuButton.addEventListener("click", () => {
                    dropdownMenu.classList.toggle("hidden");
                });
            }
        });
    </script>
</nav>
