---

---

<div
    class="container flex mx-auto flex-col bg-white w-[270px] h-[300px] py-2 px-4 border-[3px] border-[#6699FF] rounded-lg"
>
    <h2 class="font-bold mb-4 text-[22px] leading-[30px] tracking-tighter">
        project name
    </h2>
    <p class="text-[20px] font-medium leading-[27.5px] tracking-tighter">
        client
    </p>
    <p class="text-[16px] leading-[20px] tracking-tighter text-[#7C7B7B] mb-3">
        ACDI/VOCA
    </p>
    <p class="text-[20px] font-medium leading-[27.5px] tracking-tighter">
        scope of service
    </p>
    <p class="text-[16px] leading-[20px] tracking-tighter text-[#7C7B7B] mb-3">
        Al Deen Office
    </p>
    <p class="text-[20px] font-medium leading-[27.5px] tracking-tighter">
        location
    </p>
    <p class="text-[16px] leading-[20px] tracking-tighter text-[#7C7B7B] mb-3">
        Al Deen Office
    </p>
    <p class="text-[20px] font-medium leading-[27.5px] tracking-tighter">
        reference number
    </p>
    <p class="text-[16px] leading-[20px] tracking-tighter text-[#7C7B7B] mb-3">
        Al Deen Office
    </p>
</div>
