---

---

<!-- Card -->
<div class="bg-white border-2 border-[#6699FF] rounded-xl shadow-lg p-4 flex">
    <img src="/img/Vector.png" alt="Icon" class="w-12 h-12" />
    <div class="ml-4">
        <h3 class="font-bold text-lg mb-2 tracking-tighter">
            Customer-Centric Approach
        </h3>
        <p class="text-gray-600 text-[14px]">
            Your satisfaction is at the core of everything we do. We prioritize
            your needs and concerns to ensure a seamless and fulfilling
            experience.
        </p>
    </div>
</div>
