---

---

<div
    class="bg-white p-6 border-2 border-[#6699FF] rounded-xl shadow-md text-left"
>
    <div class="flex items-center mb-2">
        <img src="/img/Vector.png" alt="Icon" class="w-7 h-7 mr-2" />
        <h3 class="text-xl font-semibold">Customer-Centric Approach</h3>
    </div>
    <p class="text-base">
        Your satisfaction is at the core of everything we do. We prioritize your
        needs and concerns to ensure a seamless and fulfilling experience.
    </p>
</div>
